body {
    background-color: lightgrey;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 15px;
    background-color: #000000;
    cursor: pointer;
    text-align: center;
    

}

li {
    display: inline;
    
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;

}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
